<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="16c35042-1663-4b98-af61-a76e3216b09d" wsaVersion="NONE" name="BasicHttpBinding_IConnectPoint_Security" type="wsdl" bindingName="{http://tempuri.org/}BasicHttpBinding_IConnectPoint_Security" soapVersion="1_1" anonymous="optional" definition="https://rdxappint.radixxuat.com/rdx/Radixx.ConnectPoint/ConnectPoint.Security.svc?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="16c35042-1663-4b98-af61-a76e3216b09dfileName">BasicHttpBinding_IConnectPoint_Security</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="https://rdxappint.radixxuat.com/rdx/Radixx.ConnectPoint/ConnectPoint.Security.svc?wsdl">
    <con:part>
      <con:url>https://rdxappint.radixxuat.com/rdx/Radixx.ConnectPoint/ConnectPoint.Security.svc?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="ConnectPoint_Security" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request"/>
      <xsd:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request"/>
      <xsd:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response"/>
      <xsd:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectPoint_Security_RetrieveSecurityToken_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityToken"/>
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Security_RetrieveSecurityToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveSecurityTokenResponse"/>
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Security_GetGroupDataByUserid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDataByUserid"/>
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Security_GetGroupDataByUserid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDataByUseridResponse"/>
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Security_ValidateSecurityToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSecurityToken"/>
  </wsdl:message>
  <wsdl:message name="IConnectPoint_Security_ValidateSecurityToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSecurityTokenResponse"/>
  </wsdl:message>
  <wsdl:portType name="IConnectPoint_Security">
    <wsdl:operation name="RetrieveSecurityToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Security/RetrieveSecurityToken" message="tns:IConnectPoint_Security_RetrieveSecurityToken_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Security/RetrieveSecurityTokenResponse" message="tns:IConnectPoint_Security_RetrieveSecurityToken_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDataByUserid">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Security/GetGroupDataByUserid" message="tns:IConnectPoint_Security_GetGroupDataByUserid_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Security/GetGroupDataByUseridResponse" message="tns:IConnectPoint_Security_GetGroupDataByUserid_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectPoint_Security/ValidateSecurityToken" message="tns:IConnectPoint_Security_ValidateSecurityToken_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectPoint_Security/ValidateSecurityTokenResponse" message="tns:IConnectPoint_Security_ValidateSecurityToken_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectPoint_Security" type="tns:IConnectPoint_Security">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RetrieveSecurityToken">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Security/RetrieveSecurityToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDataByUserid">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Security/GetGroupDataByUserid" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <soap:operation soapAction="http://tempuri.org/IConnectPoint_Security/ValidateSecurityToken" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectPoint_Security">
    <wsdl:port name="BasicHttpBinding_IConnectPoint_Security" binding="tns:BasicHttpBinding_IConnectPoint_Security">
      <soap:address location="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd0</con:url>
      <con:content><![CDATA[<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request"/>
  <xs:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response"/>
  <xs:element name="RetrieveSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveSecurityTokenRequest" nillable="true" type="q1:RetrieveSecurityToken" xmlns:q1="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveSecurityTokenResult" nillable="true" type="q2:ViewSecurityToken" xmlns:q2="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDataByUserid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGroupDataByUseridRequest" nillable="true" type="q3:RequestGetGroupDataByUserid" xmlns:q3="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDataByUseridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupDataByUseridResult" nillable="true" type="q4:ResponseGetGroupDataByUserid" xmlns:q4="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateSecurityTokenRequest" nillable="true" type="q5:ValidateSecurityToken" xmlns:q5="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateSecurityTokenResult" nillable="true" type="q6:ViewValidatedSecurityToken" xmlns:q6="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd2</con:url>
      <con:content><![CDATA[<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Request">
  <xs:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request"/>
  <xs:complexType name="RetrieveSecurityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:CarrierInfo" xmlns:q1="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request">
        <xs:sequence>
          <xs:element name="LogonID" nillable="true" type="xs:string"/>
          <xs:element name="Password" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetrieveSecurityToken" nillable="true" type="tns:RetrieveSecurityToken"/>
  <xs:complexType name="RequestGetGroupDataByUserid">
    <xs:complexContent mixed="false">
      <xs:extension base="q2:TransactionInfo" xmlns:q2="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request">
        <xs:sequence>
          <xs:element name="UserId" nillable="true" type="xs:string"/>
          <xs:element name="ActiveOnly" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RequestGetGroupDataByUserid" nillable="true" type="tns:RequestGetGroupDataByUserid"/>
  <xs:complexType name="ValidateSecurityToken">
    <xs:complexContent mixed="false">
      <xs:extension base="q3:CarrierInfo" xmlns:q3="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request">
        <xs:sequence>
          <xs:element name="SecurityToken" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateSecurityToken" nillable="true" type="tns:ValidateSecurityToken"/>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd3</con:url>
      <con:content><![CDATA[<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request">
  <xs:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:complexType name="CarrierInfo">
    <xs:sequence>
      <xs:element name="CarrierCodes" nillable="true" type="tns:ArrayOfCarrierCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrierInfo" nillable="true" type="tns:CarrierInfo"/>
  <xs:complexType name="ArrayOfCarrierCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarrierCode" nillable="true" type="tns:CarrierCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarrierCode" nillable="true" type="tns:ArrayOfCarrierCode"/>
  <xs:complexType name="CarrierCode">
    <xs:sequence>
      <xs:element name="AccessibleCarrierCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarrierCode" nillable="true" type="tns:CarrierCode"/>
  <xs:complexType name="TransactionInfo">
    <xs:sequence>
      <xs:element name="SecurityGUID" nillable="true" type="xs:string"/>
      <xs:element name="CarrierCodes" nillable="true" type="tns:ArrayOfCarrierCode"/>
      <xs:element minOccurs="0" name="ClientIPAddress" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="HistoricUserName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionInfo" nillable="true" type="tns:TransactionInfo"/>
  <xs:simpleType name="Enumerations.ReservationChannelTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STANDARD">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WEB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GDS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TPAPI">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DCS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EXT_WEB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PNRIMPORT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MOBILE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ALL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">999</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MYIDTRAVEL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KIOSK">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PNLIMPORT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumerations.ReservationChannelTypes" nillable="true" type="tns:Enumerations.ReservationChannelTypes"/>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd1</con:url>
      <con:content><![CDATA[<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:element name="anyType" nillable="true" type="xs:anyType"/>
  <xs:element name="anyURI" nillable="true" type="xs:anyURI"/>
  <xs:element name="base64Binary" nillable="true" type="xs:base64Binary"/>
  <xs:element name="boolean" nillable="true" type="xs:boolean"/>
  <xs:element name="byte" nillable="true" type="xs:byte"/>
  <xs:element name="dateTime" nillable="true" type="xs:dateTime"/>
  <xs:element name="decimal" nillable="true" type="xs:decimal"/>
  <xs:element name="double" nillable="true" type="xs:double"/>
  <xs:element name="float" nillable="true" type="xs:float"/>
  <xs:element name="int" nillable="true" type="xs:int"/>
  <xs:element name="long" nillable="true" type="xs:long"/>
  <xs:element name="QName" nillable="true" type="xs:QName"/>
  <xs:element name="short" nillable="true" type="xs:short"/>
  <xs:element name="string" nillable="true" type="xs:string"/>
  <xs:element name="unsignedByte" nillable="true" type="xs:unsignedByte"/>
  <xs:element name="unsignedInt" nillable="true" type="xs:unsignedInt"/>
  <xs:element name="unsignedLong" nillable="true" type="xs:unsignedLong"/>
  <xs:element name="unsignedShort" nillable="true" type="xs:unsignedShort"/>
  <xs:element name="char" nillable="true" type="tns:char"/>
  <xs:simpleType name="char">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:element name="duration" nillable="true" type="tns:duration"/>
  <xs:simpleType name="duration">
    <xs:restriction base="xs:duration">
      <xs:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?"/>
      <xs:minInclusive value="-P10675199DT2H48M5.4775808S"/>
      <xs:maxInclusive value="P10675199DT2H48M5.4775807S"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="guid" nillable="true" type="tns:guid"/>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attribute name="FactoryType" type="xs:QName"/>
  <xs:attribute name="Id" type="xs:ID"/>
  <xs:attribute name="Ref" type="xs:IDREF"/>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd4</con:url>
      <con:content><![CDATA[<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Security.Response">
  <xs:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
  <xs:import schemaLocation="http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request"/>
  <xs:complexType name="ViewSecurityToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exceptions" nillable="true" type="q1:ExceptionInformation.Exceptions" xmlns:q1="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
      <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewSecurityToken" nillable="true" type="tns:ViewSecurityToken"/>
  <xs:complexType name="ResponseGetGroupDataByUserid">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupDatas" nillable="true" type="tns:ArrayOfGroupData"/>
      <xs:element minOccurs="0" name="Exceptions" nillable="true" type="q2:ExceptionInformation.Exceptions" xmlns:q2="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseGetGroupDataByUserid" nillable="true" type="tns:ResponseGetGroupDataByUserid"/>
  <xs:complexType name="ArrayOfGroupData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupData" nillable="true" type="tns:GroupData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupData" nillable="true" type="tns:ArrayOfGroupData"/>
  <xs:complexType name="GroupData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupDataId" type="xs:int"/>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsActive" type="xs:int"/>
      <xs:element minOccurs="0" name="UseAirportSecurity" type="xs:int"/>
      <xs:element minOccurs="0" name="UseResChannelSecurity" type="xs:int"/>
      <xs:element minOccurs="0" name="Airports" nillable="true" type="tns:ArrayOfGroupDataAirport"/>
      <xs:element minOccurs="0" name="ReservationChannels" nillable="true" type="tns:ArrayOfGroupDataResChannel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupData" nillable="true" type="tns:GroupData"/>
  <xs:complexType name="ArrayOfGroupDataAirport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDataAirport" nillable="true" type="tns:GroupDataAirport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDataAirport" nillable="true" type="tns:ArrayOfGroupDataAirport"/>
  <xs:complexType name="GroupDataAirport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDataAirport" nillable="true" type="tns:GroupDataAirport"/>
  <xs:complexType name="ArrayOfGroupDataResChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDataResChannel" nillable="true" type="tns:GroupDataResChannel"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDataResChannel" nillable="true" type="tns:ArrayOfGroupDataResChannel"/>
  <xs:complexType name="GroupDataResChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResChannel" type="q3:Enumerations.ReservationChannelTypes" xmlns:q3="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Request"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDataResChannel" nillable="true" type="tns:GroupDataResChannel"/>
  <xs:complexType name="ViewValidatedSecurityToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exceptions" nillable="true" type="q4:ExceptionInformation.Exceptions" xmlns:q4="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
      <xs:element minOccurs="0" name="ValidationResult" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewValidatedSecurityToken" nillable="true" type="tns:ViewValidatedSecurityToken"/>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
    <con:part>
      <con:url>http://rdxappint.radixxuat.com/RDX/Radixx.Connectpoint/ConnectPoint.Security.svc?xsd=xsd5</con:url>
      <con:content><![CDATA[<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions">
  <xs:complexType name="ExceptionInformation.Exceptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExceptionInformation.Exception" nillable="true" type="tns:ExceptionInformation.Exception"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionInformation.Exceptions" nillable="true" type="tns:ExceptionInformation.Exceptions"/>
  <xs:complexType name="ExceptionInformation.Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionCode" type="xs:int"/>
      <xs:element minOccurs="0" name="ExceptionDescription" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ExceptionSource" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ExceptionLevel" type="tns:ExceptionLevels"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionInformation.Exception" nillable="true" type="tns:ExceptionInformation.Exception"/>
  <xs:simpleType name="ExceptionLevels">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Warning"/>
      <xs:enumeration value="Critical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExceptionLevels" nillable="true" type="tns:ExceptionLevels"/>
</xs:schema>]]></con:content>
      <con:type>http://www.w3.org/2001/XMLSchema</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="ff76c282-7c43-48ac-88d6-a00107f279b7">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
