<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="941667e0-b84f-4edf-b402-502e0779ac90" name="ConnectPointRegressionTestCases" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="941667e0-b84f-4edf-b402-502e0779ac90fileName">ConnectPointRegressionTestCases</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DepartureDate</con:name>
      <con:value>2023-02-20</con:value>
    </con:property>
    <con:property>
      <con:name>ModifyDate</con:name>
      <con:value>2023-02-26</con:value>
    </con:property>
    <con:property>
      <con:name>Origin</con:name>
      <con:value>YVR</con:value>
    </con:property>
    <con:property>
      <con:name>Destination</con:name>
      <con:value>YYZ</con:value>
    </con:property>
    <con:property>
      <con:name>flightnum</con:name>
      <con:value>204</con:value>
    </con:property>
    <con:property>
      <con:name>carriercode</con:name>
      <con:value>1D</con:value>
    </con:property>
    <con:property>
      <con:name>currency</con:name>
      <con:value>CAD</con:value>
    </con:property>
    <con:property>
      <con:name>paycurrency</con:name>
      <con:value>CAD</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstName</con:name>
      <con:value>Radixx</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastName</con:name>
      <con:value>Tester</con:value>
    </con:property>
    <con:property>
      <con:name>p_MiddleName</con:name>
      <con:value>Automation</con:value>
    </con:property>
    <con:property>
      <con:name>p_DOB</con:name>
      <con:value>1974-10-23</con:value>
    </con:property>
    <con:property>
      <con:name>p_Gender</con:name>
      <con:value>Male</con:value>
    </con:property>
    <con:property>
      <con:name>p_PTC</con:name>
      <con:value>ADT</con:value>
    </con:property>
    <con:property>
      <con:name>p_Nationality</con:name>
      <con:value>840</con:value>
    </con:property>
    <con:property>
      <con:name>p_Language</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>p_PhoneNumber</con:name>
      <con:value>+46701497931</con:value>
    </con:property>
    <con:property>
      <con:name>p_Email</con:name>
      <con:value>test@radixx.com</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentMethod</con:name>
      <con:value>CASH</con:value>
    </con:property>
    <con:property>
      <con:name>securityToken</con:name>
      <con:value>fbe9en6a0104d114uaxbvc08e7u7o8zdd0ca683e8825</con:value>
    </con:property>
    <con:property>
      <con:name>IATANumber</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentMethodTA</con:name>
      <con:value>INVC</con:value>
    </con:property>
    <con:property>
      <con:name>ReturnDate</con:name>
      <con:value>2023-02-26</con:value>
    </con:property>
    <con:property>
      <con:name>ServiceCode</con:name>
      <con:value>SEAT</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat</con:name>
      <con:value>A</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_returnSeg</con:name>
      <con:value>A</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_returnSeg</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>ModifyDate_returnSeg</con:name>
      <con:value>2023-03-07</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstNameCHD</con:name>
      <con:value>RadixxCHD</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastNameCHD</con:name>
      <con:value>TesterCHD</con:value>
    </con:property>
    <con:property>
      <con:name>p_DOB_CHD</con:name>
      <con:value>2015-10-23</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstNameINF</con:name>
      <con:value>RadixxINF</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastNameINF</con:name>
      <con:value>TesterINF</con:value>
    </con:property>
    <con:property>
      <con:name>p_DOB_INF</con:name>
      <con:value>2022-10-23</con:value>
    </con:property>
    <con:property>
      <con:name>Date_NewSeg</con:name>
      <con:value>2023-03-08</con:value>
    </con:property>
    <con:property>
      <con:name>New_Segment</con:name>
      <con:value>NRT</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_INF</con:name>
      <con:value>B</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_INF</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_CHD</con:name>
      <con:value>C</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_CHD</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_returnSeg_INF</con:name>
      <con:value>B</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_returnSeg_INF</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_returnSeg_CHD</con:name>
      <con:value>C</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_returnSeg_CHD</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>SeatSSRCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>p_Age</con:name>
      <con:value>44</con:value>
    </con:property>
    <con:property>
      <con:name>p_Citizenship</con:name>
      <con:value>840</con:value>
    </con:property>
    <con:property>
      <con:name>p_IssueCountry</con:name>
      <con:value>232</con:value>
    </con:property>
    <con:property>
      <con:name>p_ExpiryDate</con:name>
      <con:value>2030-01-01</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomeAddress</con:name>
      <con:value>6310 HAZELTINE NATIONAL DR</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomeCity</con:name>
      <con:value>ORLANDO</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomeState</con:name>
      <con:value>FL</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomePostal</con:name>
      <con:value>32822</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestAddress</con:name>
      <con:value>MILENIA</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestCity</con:name>
      <con:value>BWI</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestState</con:name>
      <con:value>TN</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestPostal</con:name>
      <con:value>8989</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestCountry</con:name>
      <con:value>120</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocType1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocNumber1</con:name>
      <con:value>AAAA1111</con:value>
    </con:property>
    <con:property>
      <con:name>p_IssueCountry1</con:name>
      <con:value>124</con:value>
    </con:property>
    <con:property>
      <con:name>p_ExpiryDate1</con:name>
      <con:value>2030-01-01</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocType2</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocNumber2</con:name>
      <con:value>BBBB1111</con:value>
    </con:property>
    <con:property>
      <con:name>p_IssueCountry2</con:name>
      <con:value>356</con:value>
    </con:property>
    <con:property>
      <con:name>p_ExpiryDate2</con:name>
      <con:value>2032-01-01</con:value>
    </con:property>
    <con:property>
      <con:name>p_BirthCity</con:name>
      <con:value>YVR</con:value>
    </con:property>
    <con:property>
      <con:name>p_BirthState</con:name>
      <con:value>TN</con:value>
    </con:property>
    <con:property>
      <con:name>p_BirthCountry</con:name>
      <con:value>356</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="ff76c282-7c43-48ac-88d6-a00107f279b7">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
