<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="941667e0-b84f-4edf-b402-502e0779ac90" name="ConnectPointRegressionTestCases" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="941667e0-b84f-4edf-b402-502e0779ac90fileName">ConnectPointRegressionTestCases</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>DepartureDate</con:name>
      <con:value>2023-03-09</con:value>
    </con:property>
    <con:property>
      <con:name>ModifyDate</con:name>
      <con:value>2023-03-12</con:value>
    </con:property>
    <con:property>
      <con:name>Origin</con:name>
      <con:value>YVR</con:value>
    </con:property>
    <con:property>
      <con:name>Destination</con:name>
      <con:value>YYZ</con:value>
    </con:property>
    <con:property>
      <con:name>flightnum</con:name>
      <con:value>699</con:value>
    </con:property>
    <con:property>
      <con:name>carriercode</con:name>
      <con:value>1D</con:value>
    </con:property>
    <con:property>
      <con:name>currency</con:name>
      <con:value>CAD</con:value>
    </con:property>
    <con:property>
      <con:name>paycurrency</con:name>
      <con:value>CAD</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstName</con:name>
      <con:value>Radixx</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastName</con:name>
      <con:value>Tester</con:value>
    </con:property>
    <con:property>
      <con:name>p_MiddleName</con:name>
      <con:value>Automation</con:value>
    </con:property>
    <con:property>
      <con:name>p_DOB</con:name>
      <con:value>1974-10-23</con:value>
    </con:property>
    <con:property>
      <con:name>p_Gender</con:name>
      <con:value>Male</con:value>
    </con:property>
    <con:property>
      <con:name>p_PTC</con:name>
      <con:value>ADT</con:value>
    </con:property>
    <con:property>
      <con:name>p_Nationality</con:name>
      <con:value>840</con:value>
    </con:property>
    <con:property>
      <con:name>p_Language</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>p_PhoneNumber</con:name>
      <con:value>+46701497931</con:value>
    </con:property>
    <con:property>
      <con:name>p_Email</con:name>
      <con:value>test@radixx.com</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentMethod</con:name>
      <con:value>CASH</con:value>
    </con:property>
    <con:property>
      <con:name>securityToken</con:name>
      <con:value>b733d5b8mdt81drcc748o4m4d1a4b2d664429bff1a80</con:value>
    </con:property>
    <con:property>
      <con:name>IATANumber</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentMethodTA</con:name>
      <con:value>INVC</con:value>
    </con:property>
    <con:property>
      <con:name>ReturnDate</con:name>
      <con:value>2023-03-12</con:value>
    </con:property>
    <con:property>
      <con:name>ServiceCode</con:name>
      <con:value>SEAT</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat</con:name>
      <con:value>A</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_returnSeg</con:name>
      <con:value>A</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_returnSeg</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>ModifyDate_returnSeg</con:name>
      <con:value>2023-03-21</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstNameCHD</con:name>
      <con:value>RadixxCHD</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastNameCHD</con:name>
      <con:value>TesterCHD</con:value>
    </con:property>
    <con:property>
      <con:name>p_DOB_CHD</con:name>
      <con:value>2019-10-23</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstNameINF</con:name>
      <con:value>RadixxINF</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastNameINF</con:name>
      <con:value>TesterINF</con:value>
    </con:property>
    <con:property>
      <con:name>p_DOB_INF</con:name>
      <con:value>2022-11-06</con:value>
    </con:property>
    <con:property>
      <con:name>Date_NewSeg</con:name>
      <con:value>2023-03-22</con:value>
    </con:property>
    <con:property>
      <con:name>New_Segment</con:name>
      <con:value>NRT</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_INF</con:name>
      <con:value>B</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_INF</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_CHD</con:name>
      <con:value>C</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_CHD</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_returnSeg_INF</con:name>
      <con:value>B</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_returnSeg_INF</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>RowSeat_returnSeg_CHD</con:name>
      <con:value>C</con:value>
    </con:property>
    <con:property>
      <con:name>RowNumber_returnSeg_CHD</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>SeatSSRCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ExpirationDate</con:name>
      <con:value>2023-06-04</con:value>
    </con:property>
    <con:property>
      <con:name>p_Age</con:name>
      <con:value>44</con:value>
    </con:property>
    <con:property>
      <con:name>TransactionStatus</con:name>
      <con:value>APPROVED</con:value>
    </con:property>
    <con:property>
      <con:name>BillingCountry</con:name>
      <con:value>840</con:value>
    </con:property>
    <con:property>
      <con:name>ProcessorName</con:name>
      <con:value>OPPY</con:value>
    </con:property>
    <con:property>
      <con:name>SeriesNumber</con:name>
      <con:value>299</con:value>
    </con:property>
    <con:property>
      <con:name>UserName</con:name>
      <con:value>radixx</con:value>
    </con:property>
    <con:property>
      <con:name>Reference</con:name>
      <con:value>Test</con:value>
    </con:property>
    <con:property>
      <con:name>Comments</con:name>
      <con:value>Test</con:value>
    </con:property>
    <con:property>
      <con:name>CheckNumber</con:name>
      <con:value>123</con:value>
    </con:property>
    <con:property>
      <con:name>NotApplicable</con:name>
      <con:value>na</con:value>
    </con:property>
    <con:property>
      <con:name>Address1</con:name>
      <con:value>123 Elm Street</con:value>
    </con:property>
    <con:property>
      <con:name>City</con:name>
      <con:value>Maitland</con:value>
    </con:property>
    <con:property>
      <con:name>State</con:name>
      <con:value>FL</con:value>
    </con:property>
    <con:property>
      <con:name>Postal</con:name>
      <con:value>32751</con:value>
    </con:property>
    <con:property>
      <con:name>Country</con:name>
      <con:value>usa</con:value>
    </con:property>
    <con:property>
      <con:name>p_Title</con:name>
      <con:value>Ms</con:value>
    </con:property>
    <con:property>
      <con:name>ExchangeRateDate</con:name>
      <con:value>2023-02-24</con:value>
    </con:property>
    <con:property>
      <con:name>ID</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>LanguageCode</con:name>
      <con:value>en</con:value>
    </con:property>
    <con:property>
      <con:name>PersonOrgID</con:name>
      <con:value>-1</con:value>
    </con:property>
    <con:property>
      <con:name>AuthorizationCode</con:name>
      <con:value>t1</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentReference</con:name>
      <con:value>t2</con:value>
    </con:property>
    <con:property>
      <con:name>ResponseMessage</con:name>
      <con:value>t3</con:value>
    </con:property>
    <con:property>
      <con:name>p_Citizenship</con:name>
      <con:value>840</con:value>
    </con:property>
    <con:property>
      <con:name>p_IssueCountry</con:name>
      <con:value>232</con:value>
    </con:property>
    <con:property>
      <con:name>p_ExpiryDate</con:name>
      <con:value>2030-01-01</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomeAddress</con:name>
      <con:value>6310 HAZELTINE NATIONAL DR</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomeCity</con:name>
      <con:value>ORLANDO</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomeState</con:name>
      <con:value>FL</con:value>
    </con:property>
    <con:property>
      <con:name>p_HomePostal</con:name>
      <con:value>32822</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestAddress</con:name>
      <con:value>MILENIA</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestCity</con:name>
      <con:value>BWI</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestState</con:name>
      <con:value>TN</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestPostal</con:name>
      <con:value>8989</con:value>
    </con:property>
    <con:property>
      <con:name>p_DestCountry</con:name>
      <con:value>120</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocType1</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocNumber1</con:name>
      <con:value>AAAA1111</con:value>
    </con:property>
    <con:property>
      <con:name>p_IssueCountry1</con:name>
      <con:value>124</con:value>
    </con:property>
    <con:property>
      <con:name>p_ExpiryDate1</con:name>
      <con:value>2030-01-01</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocType2</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>p_DocNumber2</con:name>
      <con:value>BBBB1111</con:value>
    </con:property>
    <con:property>
      <con:name>p_IssueCountry2</con:name>
      <con:value>356</con:value>
    </con:property>
    <con:property>
      <con:name>p_ExpiryDate2</con:name>
      <con:value>2032-01-01</con:value>
    </con:property>
    <con:property>
      <con:name>p_BirthCity</con:name>
      <con:value>YVR</con:value>
    </con:property>
    <con:property>
      <con:name>p_BirthState</con:name>
      <con:value>TN</con:value>
    </con:property>
    <con:property>
      <con:name>p_BirthCountry</con:name>
      <con:value>356</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_CarrierCode</con:name>
      <con:value>WG</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_FlightNumber</con:name>
      <con:value>1590</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_Origin</con:name>
      <con:value>YUL</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_Destination</con:name>
      <con:value>CDG</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_FarebasisCode</con:name>
      <con:value>B</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_ScheduledDepartureTime</con:name>
      <con:value>T12:30:00.000+05:00</con:value>
    </con:property>
    <con:property>
      <con:name>OAL_ScheduledArrivalTime</con:name>
      <con:value>T15:30:00.000+05:00</con:value>
    </con:property>
    <con:property>
      <con:name>CardNumber</con:name>
      <con:value>4111111111111111</con:value>
    </con:property>
    <con:property>
      <con:name>CVCode</con:name>
      <con:value>123</con:value>
    </con:property>
    <con:property>
      <con:name>CountryCode</con:name>
      <con:value>840</con:value>
    </con:property>
    <con:property>
      <con:name>Address2</con:name>
      <con:value>Suite 150</con:value>
    </con:property>
    <con:property>
      <con:name>DcsSecToken</con:name>
      <con:value>330d823e-fbf1-4575-b1d0-ca628ec248dc</con:value>
    </con:property>
    <con:property>
      <con:name>FBC</con:name>
      <con:value>EOW</con:value>
    </con:property>
    <con:property>
      <con:name>FirstNameRandom</con:name>
      <con:value>fkiUrr</con:value>
    </con:property>
    <con:property>
      <con:name>LasttNameRandom</con:name>
      <con:value>KKO8Qm</con:value>
    </con:property>
    <con:property>
      <con:name>FlightNumReturn</con:name>
      <con:value>203</con:value>
    </con:property>
    <con:property>
      <con:name>p_FirstName_2ndPax</con:name>
      <con:value>RadixxSecond</con:value>
    </con:property>
    <con:property>
      <con:name>p_LastName_2ndPax</con:name>
      <con:value>Tester</con:value>
    </con:property>
    <con:property>
      <con:name>p_MiddleName_2ndPax</con:name>
      <con:value>Automation</con:value>
    </con:property>
    <con:property>
      <con:name>SSR</con:name>
      <con:value>CNDY</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="ff76c282-7c43-48ac-88d6-a00107f279b7">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
